img {
  height: 10rem;
}

/* .container {
  display: grid;

  background-color: #ffffff;
  height: 22rem;
  border-radius: 1rem;
  border: 3px solid #370665;
}
.container.text {
}
.container.img {
  width: 100%;
} */

.container-dog {
  /* display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 1rem;
  border: 3px solid rgb(172, 95, 95); */
  flex: 1 0 21%;
  /* border: 1px solid rgb(116, 242, 247); */
  background-color: rgb(120, 159, 190);
  color: black;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  /* padding-bottom: 10px; */
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
  justify-content: space-between;
}
.container-text {
  /* border: 1px solid rgb(116, 242, 247);
  background-color: white;
  color: black;
  font-weight: bold;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  margin: 5px; */
}
.container-img {
}
