img {
  height: 10em;
}

/* .container {
  display: grid;

  background-color: #ffffff;
  height: 22rem;
  border-radius: 1rem;
  border: 3px solid #370665;
}
.container.text {
}
.container.img {
  width: 100%;
} */

.container2 {
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 1rem;
  border: 3px solid rgb(172, 95, 95);
}

.container.img {
}
